h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.bg-bb {
  background-color: #648dff;
}

body {
  font-family: "Kanit", sans-serif !important;
}

nav a {
  color: #fff !important;
}

nav ul li {
  background-color: transparent;
}

nav ul li:hover {
  background-color: #84a5ff;
  transition: all 0.3s;
}

nav ul li a:hover {
  color: #dadada !important;
  transition: all 0.3s;
}

.mar-left {
  margin-left: auto !important;
}

.pdd-z {
  padding-top: 0;
  padding-bottom: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  padding: 13px;
}

nav ul li a {
  padding: 15px 1rem !important;
}

nav ul li {
  font-size: 21px;
}

.active {
  background-color: #84a5ff;
}

/* .h-450{
  height: 450px;
} */
.mar-top {
  margin-top: 55px;
}

.h1-resize h1 {
  font-size: 45px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding-bottom: 10px;
}

.h1-resize h1:after {
  content: "";
  display: block;
  border: 4px solid #648dff;
  width: 102px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 45px;
  margin-top: 10px;
}

.container-w {
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 80px;
}

.content-rec-video {
  margin-top: 45px;
  background-color: #f1f1f1;
  padding: 35px 80px;
}

.marr-topp {
  margin-top: 45px;
}

img {
  display: block;
  width: auto;
  max-width: 100%;
}

footer {
  background-color: #648dff;
  padding: 18px;
  color: #fff;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.color-fff-nav a {
  color: #333 !important;
  border-bottom: 1px solid #ccc4c4;
  padding: 10px 15px !important;
}

.color-fff-nav a:nth-child(10) {
  border-bottom: none !important;
}

.on-title-image {
  position: relative;
  overflow: hidden;
}

.on-title-image img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.on-title-image:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.card {
  box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.075);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0px 3px 50px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-5px);
  transition: 0.3s;
}

.bg-pos-head {
  width: auto;
  height: 453px;
  margin-bottom: 55px;
  overflow: hidden;
}

.text-left-al {
  text-align: left;
}

.dropdown-menu {
  position: absolute;
  top: 97%;
  left: auto !important;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  right: 0;
  width: auto;
  box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.075);
}

.dropdown-menu:after,
.dropdown-menu:before {
  bottom: 100%;
  left: 85%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.dropdown-menu:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 15px;
  margin-left: -15px;
}

/* .dropdown-menu:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #c2e1f5;
	border-width: 21px;
	margin-left: -21px;
} */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active in <2.1.8 */
  {
  opacity: 0;
}

.font-size-old p {
  font-size: 20px;
}

.content-all {
  margin-top: 45px;
}

.h1-head-cus {
  text-align: center;
  margin-bottom: 45px;
}

.card-ebook {
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.075);
  box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.075);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  text-align: center;
}

.card-ebook:hover {
  box-shadow: 0px 3px 50px 0 rgba(0, 0, 0, 0.075);
  border: 1px solid #e5d3ff;
  transform: translateY(-5px);
}

.card-ebook i {
  font-size: 65px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  margin-bottom: 13px;
}

.card-ebook img {
  margin-bottom: 15px;
}

.tag-a-color a {
  color: #333;
}

.tag-a-color a:hover {
  color: #4c60ab;
  text-decoration: none;
}

.col-md-4 {
  margin-bottom: 25px;
}

.border-bt-v {
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 35px;
}

.border-bt-v iframe {
  margin-bottom: 25px;
}

.h3-header-vr h3 {
  background-color: #b7dbff;
  border-radius: 3px;
  padding: 10px 15px 10px 15px;
}

.modal-backdrop {
  z-index: 100 !important;
}

.pdd-z {
  z-index: 99 !important;
}

.video-header-content {
  margin-bottom: 45px;
}

.video-header-content .embed-responsive-21by9::before {
  padding-top: 26.25% !important;
}

.video-header-content .embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
  background-color: #000;
}

.btn-download-ebook {
  background: linear-gradient(36deg, #0dd3ff, #0389ff, #1c79c0);
  padding: 15px 15px 15px 15px;
  border-radius: 5px;
  color: #fff;
  display: table;
  margin-right: 45px;
  margin-left: auto;
  box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.075);
  transition: .3s;
}

.btn-download-ebook:hover {
  color: #fff;
  text-decoration: none;
  background: linear-gradient(36deg, #0dd3ff, #0159a7, #013b6d);
  transition: .3s;
}
.date-content-all{
  background-color: #e1e1e1;
  padding: 6px;
  width: auto;
  border-radius: 4px;
  font-size: 13px;
  display: table;
}
.h1-search-header h1{
  padding: 15px;
  margin-top: 25px;
}
.search-content{
  margin-bottom: 45px;
}
.image-header-function-bg{
    width: auto;
    height: 453px;
    margin-bottom: 55px;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;  
}
.cur{
  cursor: pointer;
}
.line-dropdown-list{
  color: #333 !important;
  border-bottom: 1px solid #ccc4c4;
  padding: 10px 15px !important;
}
.cards{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.075);
}
.card-text{ 
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  }
  .hover-video-content {
    position: relative;
    width: auto;
  }

.hover-video-content img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.hover-video-content:hover img {
  opacity: 0.3;
}

.hover-video-content:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.icon-play{
  font-size: 70px;
}
a:hover{
  text-decoration: none;
}
.marr-zio .card-title{
  margin-bottom: 0 !important;
  padding: 15px;
}
.on-title-image{
  position: relative;
}
.media__content{
  float: none;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  height: auto;
  padding: 15% 0.75rem 0.75rem 0.75rem;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorStr=#00000000, endColorStr=#DD000000);
  background-color: transparent;
  background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,0.8));
  background-image: linear-gradient(transparent,rgba(0,0,0,0.8));
  background-position-y: -1px;
  bottom: -1px;
}
.media__content{
  color: #fff;
  text-align: left;
}
.media__content{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.date-content-on-image{
  font-size: 13px;
}
.a-link-ro{
  color: #333;
}
.btn-center{
  margin-left: auto;
  margin-right: auto;
  display: table;
}
.w-100{
  height: auto;
}
.img-logo{
  width: 55px !important;
  margin-left: 15px;
}
.tran-bg{
  padding-top: 0;
  padding-bottom: 0;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: transparent;
  padding: 8px;
  transition: all .3s;
}
.scrolled-nav{
  background-color: #648dff !important;
  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  transition: all .3s; 
}
nav ul li:hover {
  background-color: transparent !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.marr-top-all-content{
  margin-top: 65px;
}

@media (max-width: 992px) {
  .dropdown-menu:before {
    display: none;
  }
  .none-display-link{
    display: none;
  }
}
@media (max-width: 480px) {
  .container-w{
    padding: 15px 35px !important;
 }
}
@media (max-width: 351px) {
  .card-text{
    display: none !important;
  }
}
