h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.bg-bb {
  background-color: #648dff;
}
body {
  font-family: "Kanit", sans-serif !important;
}
nav a {
  color: #fff !important;
}
nav ul li {
  background-color: transparent;
}
nav ul li:hover {
  background-color: #84a5ff;
  transition: all 0.3s;
}
nav ul li a:hover {
  color: #dadada !important;
  transition: all 0.3s;
}
.mar-left {
  margin-left: auto !important;
}
.pdd-z {
  padding-top: 0;
  padding-bottom: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
}
nav ul li a {
  padding: 1.5rem 1rem !important;
}
nav ul li {
  font-size: 21px;
}
.active {
  background-color: #84a5ff;
}
/* .h-450{
  height: 450px;
} */
.mar-top {
  margin-top: 55px;
}
.h1-resize h1 {
  font-size: 45px;  
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding-bottom: 10px;
}
.h1-resize h1:after{
    content: "";
    display: block;
    border: 4px solid #648dff;
    width: 102px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 45px;
    margin-top: 10px;
}
.container-w{
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 80px;
}
.content-rec-video{
  margin-top: 45px;
  background-color: #f1f1f1;
  padding: 35px 80px;
}
.marr-topp{
  margin-top: 45px;
}
img{
  display: block;
  width: auto;
  max-width: 100%;
}
footer{
  background-color: #648DFF;
  padding: 18px;
  color: #fff;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  margin-top: 30px;
 }
 .color-fff-nav a{
   color: #333 !important;
   border-bottom: 1px solid #CCC4C4;
   padding: 10px 15px !important;
 }
 .color-fff-nav a:nth-child(9){
  border-bottom: none !important;
 }
 .hover-image-zoom {
   position: relative;
   overflow: hidden;
 }
.hover-image-zoom img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover-image-zoom:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.card{
      box-shadow: 0px 3px 20px 0 rgba(0,0,0,0.075);
      transition: .3s;
}
.card:hover{
      box-shadow: 0px 3px 50px 0 rgba(0,0,0,0.075);
    transform: translateY(-5px);
    transition: .3s;
}
.bg-pos-head{
       width: auto;
       height: 453px;
       margin-bottom: 55px;
       overflow: hidden;
       
}
.text-left-al{
  text-align: left;
}
.dropdown-menu {
  position: absolute;
  top: 97%;
  left: auto !important;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  right: 0;
  width: auto;
  box-shadow: 0px 3px 20px 0 rgba(0,0,0,0.075);
}
.dropdown-menu:after, .dropdown-menu:before {
	bottom: 100%;
	left: 85%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.dropdown-menu:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 15px;
	margin-left: -15px;
}
/* .dropdown-menu:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #c2e1f5;
	border-width: 21px;
	margin-left: -21px;
} */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}
.font-size-old p{
  font-size: 20px;
}
.content-all{
  margin-top: 45px;
}
.h1-head-cus{
  text-align: center;
  margin-bottom: 45px;
}
.card-ebook{
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 20px 0 rgba(0,0,0,0.075);
  box-shadow: 0px 3px 20px 0 rgba(0,0,0,0.075);
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  text-align: center;
}
.card-ebook:hover{
  box-shadow: 0px 3px 50px 0 rgba(0,0,0,0.075);
  border: 1px solid #e5d3ff;
  transform: translateY(-5px);
}
.card-ebook i{
  font-size: 65px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  margin-bottom: 13px;
}
.card-ebook img{
  margin-bottom: 15px;
}
.tag-a-color a{
  color: #333;
}
.tag-a-color a:hover{
  color: #4c60ab;
  text-decoration: none;
}
.col-md-4{
  margin-bottom: 25px;
}
.border-bt-v{
  border-bottom: 1px solid #d0d0d0; 
  margin-bottom: 35px;
}
.border-bt-v iframe{
  margin-bottom: 25px;
}
.h3-header-vr h3{
  background-color: #b7dbff;
  border-radius: 3px;
  padding: 10px 15px 10px 15px;
}
@media (max-width: 991px){
  .dropdown-menu:before{
    display: none;
  }
}